@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@theme {
  --color-background: #FFFFFF;
  --color-foreground: #0f172a;
  --color-card: #FFFFFF;
  --color-card-foreground: #0f172a;
  --color-popover: #FFFFFF;
  --color-popover-foreground: #0f172a;
  --color-primary: #7A003C;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #FDBF57;
  --color-secondary-foreground: #7A003C;
  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;
  --color-accent: #fdf2f8;
  --color-accent-foreground: #7A003C;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #FFFFFF;
  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  --color-ring: #7A003C;
  --color-chart-1: #7A003C;
  --color-chart-2: #FDBF57;
  --color-chart-3: #5E6A71;
  --color-chart-4: #DBAC34;
  --color-chart-5: #9D2248;
  --radius: 0.625rem;
  --color-sidebar: #7A003C;
  --color-sidebar-foreground: #FFFFFF;
  --color-sidebar-primary: #FDBF57;
  --color-sidebar-primary-foreground: #7A003C;
  --color-sidebar-accent: #9D2248;
  --color-sidebar-accent-foreground: #FFFFFF;
  --color-sidebar-border: #9D2248;
  --color-sidebar-ring: #FDBF57;
}

* {
  @apply border-border outline-ring/50;
}

html, body {
  @apply bg-white text-foreground;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
}
